<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Add Item</h1>
            <ol class="breadcrumb">
                <li><a href="../app/#">Home</a>
                </li>
                <li class="active">Add</li>
            </ol>
        </div>

    </div>

	<!-- Way too many entries for a single add page -->
	<!-- Currently in the process of making indiv. pages --Eric-->
	<p>Work in Progress</p>
	See Add<X> page to add element of type <X>
	
    <form>
		Name:<input type="text" class="form-control" placeholder="Name..."><br>

		ID#:<input type="text" class="form-control" placeholder="I.D. of item..."><br>
	
		Symbol:<input type="text" class="form-control" placeholder="Symbol or Formula..."><br>
		
		<input type="submit" value="Add">
	</form>

</div>
<!-- /.container -->