<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Add Experiment Data</h1>
            <ol class="breadcrumb">
                <li><a href="../index.html">Home</a>
                </li>
                <li class="active">AddExp</li>
            </ol>
        </div>

    </div>
	
    <form>
		Name:<input type="text" class="form-control" placeholder="Name..."><br>

		ID#:<input type="text" class="form-control" placeholder="I.D. of item..."><br>
	
		Symbol:<input type="text" class="form-control" placeholder="Symbol or Formula..."><br>
		
		<input type="submit" value="Add">
	</form>

</div>
<!-- /.container -->