<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Add Experiment Data</h1>
            <ol class="breadcrumb">
                <li><a href="../app/#">Home</a>
                </li>
                <li class="active">AddExp</li>
            </ol>
        </div>

    </div>
	
    <form>
	
		<p>Note: not setting any value will make it null.</p><br>
		
		aid<input type="text" class="form-control" placeholder="..."><br>
		acid<input type="text" class="form-control" placeholder="..."><br>	
		aeid<input type="text" class="form-control" placeholder="..."><br>	
		asid<input type="text" class="form-control" placeholder="..."><br>	
		assay_source_name<input type="text" class="form-control" placeholder="..."><br>	
		assay_source_long_name<input type="text" class="form-control" placeholder="..."><br>	
		assay_source_desc<input type="text" class="form-control" placeholder="..."><br>	
		assay_name<input type="text" class="form-control" placeholder="..."><br>	
		assay_desc<input type="text" class="form-control" placeholder="..."><br>	
		timepoint_hr<input type="text" class="form-control" placeholder="..."><br>	
		organism_id	organism<input type="text" class="form-control" placeholder="..."><br>
		tissue<input type="text" class="form-control" placeholder="..."><br>	
		cell_format<input type="text" class="form-control" placeholder="..."><br>	
		cell_free_component_source<input type="text" class="form-control" placeholder="..."><br>
		cell_short_name	cell_growth_mode<input type="text" class="form-control" placeholder="..."><br>	
		assay_footprint<input type="text" class="form-control" placeholder="..."><br>	
		assay_format_type<input type="text" class="form-control" placeholder="..."><br>	
		assay_format_type_sub<input type="text" class="form-control" placeholder="..."><br>	
		content_readout_type<input type="text" class="form-control" placeholder="..."><br>	
		dilution_solvent<input type="text" class="form-control" placeholder="..."><br>	
		dilution_solvent_percent_max<input type="text" class="form-control" placeholder="..."><br>	
		assay_component_name<input type="text" class="form-control" placeholder="..."><br>	
		assay_component_desc<input type="text" class="form-control" placeholder="..."><br>	
		assay_component_target_desc<input type="text" class="form-control" placeholder="..."><br>	
		parameter_readout_type<input type="text" class="form-control" placeholder="..."><br>
		assay_design_type<input type="text" class="form-control" placeholder="..."><br>
		assay_design_type_sub<input type="text" class="form-control" placeholder="..."><br>
		biological_process_target<input type="text" class="form-control" placeholder="..."><br>
		detection_technology_type<input type="text" class="form-control" placeholder="..."><br>
		detection_technology_type_sub<input type="text" class="form-control" placeholder="..."><br>
		detection_technology<input type="text" class="form-control" placeholder="..."><br>
		signal_direction_type<input type="text" class="form-control" placeholder="..."><br>	
		key_assay_reagent_type<input type="text" class="form-control" placeholder="..."><br>	
		key_assay_reagent<input type="text" class="form-control" placeholder="..."><br>	
		technological_target_type<input type="text" class="form-control" placeholder="..."><br>	
		technological_target_type_sub<input type="text" class="form-control" placeholder="..."><br>	
		assay_component_endpoint_name<input type="text" class="form-control" placeholder="..."><br>
		export_ready<input type="text" class="form-control" placeholder="..."><br>
		internal_ready<input type="text" class="form-control" placeholder="..."><br>
		assay_component_endpoint_desc<input type="text" class="form-control" placeholder="..."><br>
		assay_function_type<input type="text" class="form-control" placeholder="..."><br>
		normalized_data_type<input type="text" class="form-control" placeholder="..."><br>
		analysis_direction<input type="text" class="form-control" placeholder="..."><br>
		burst_assay	key_positive_control<input type="text" class="form-control" placeholder="..."><br>
		signal_direction<input type="text" class="form-control" placeholder="..."><br>
		intended_target_type<input type="text" class="form-control" placeholder="..."><br>
		intended_target_type_sub<input type="text" class="form-control" placeholder="..."><br>
		intended_target_family<input type="text" class="form-control" placeholder="..."><br>
		intended_target_family_sub<input type="text" class="form-control" placeholder="..."><br>
		fit_all	reagent_arid<input type="text" class="form-control" placeholder="..."><br>
		reagent_reagent_name_value<input type="text" class="form-control" placeholder="..."><br>
		reagent_reagent_name_value_type<input type="text" class="form-control" placeholder="..."><br>
		reagent_culture_or_assay<input type="text" class="form-control" placeholder="..."><br><br>

		
		<input type="submit" value="Add">
	</form>

</div>
<!-- /.container -->