<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Add Toxicity Item</h1>
            <ol class="breadcrumb">
                <li><a href="../app/#">Home</a>
                </li>
                <li class="active">AddTox</li>
            </ol>
        </div>

    </div>

	<p>Eww</p>
	
    <form>
		<p>Note: not setting any value will make it null.</p><br>
		
		m4id<input type="text" class="form-control" placeholder="..."><br>
		m4id<input type="text" class="form-control" placeholder="..."><br>
		m5id<input type="text" class="form-control" placeholder="..."><br>
		spid<input type="text" class="form-control" placeholder="..."><br>
		stkc<input type="text" class="form-control" placeholder="..."><br>
		stkc_unit<input type="text" class="form-control" placeholder="..."><br>
		tested_conc_unit<input type="text" class="form-control" placeholder="..."><br>
		spid_legacy<input type="text" class="form-control" placeholder="..."><br>
		chid<input type="text" class="form-control" placeholder="..."><br>
		casn<input type="text" class="form-control" placeholder="..."><br>
		chnm<input type="text" class="form-control" placeholder="..."><br>
		code<input type="text" class="form-control" placeholder="..."><br>
		aeid<input type="text" class="form-control" placeholder="..."><br>
		aenm<input type="text" class="form-control" placeholder="..."><br>
		resp_unit<input type="text" class="form-control" placeholder="..."><br>
		nconc<input type="text" class="form-control" placeholder="..."><br>	
		npts<input type="text" class="form-control" placeholder="..."><br>
		nrep<input type="text" class="form-control" placeholder="..."><br>
		nmed_gtbl<input type="text" class="form-control" placeholder="..."><br>
		hitc<input type="text" class="form-control" placeholder="..."><br>
		modl<input type="text" class="form-control" placeholder="..."><br>
		fitc<input type="text" class="form-control" placeholder="..."><br>
		coff<input type="text" class="form-control" placeholder="..."><br>
		bmad<input type="text" class="form-control" placeholder="..."><br>
		gsid_rep<input type="text" class="form-control" placeholder="..."><br>
		chit<input type="text" class="form-control" placeholder="..."><br>
		flag_ids<input type="text" class="form-control" placeholder="..."><br>
		flags<input type="text" class="form-control" placeholder="..."><br>
		resp_max<input type="text" class="form-control" placeholder="..."><br>
		resp_min<input type="text" class="form-control" placeholder="..."><br>
		max_mean<input type="text" class="form-control" placeholder="..."><br>
		max_mean_conc<input type="text" class="form-control" placeholder="..."><br>
		max_med	max_med_conc<input type="text" class="form-control" placeholder="..."><br>
		logc_max<input type="text" class="form-control" placeholder="..."><br>
		logc_min<input type="text" class="form-control" placeholder="..."><br>
		actp<input type="text" class="form-control" placeholder="..."><br>
		modl_er<input type="text" class="form-control" placeholder="..."><br>
		modl_tp<input type="text" class="form-control" placeholder="..."><br>
		modl_ga<input type="text" class="form-control" placeholder="..."><br>
		modl_gw<input type="text" class="form-control" placeholder="..."><br>
		modl_la<input type="text" class="form-control" placeholder="..."><br>
		modl_lw<input type="text" class="form-control" placeholder="..."><br>
		modl_rmse<input type="text" class="form-control" placeholder="..."><br>
		modl_prob<input type="text" class="form-control" placeholder="..."><br>
		modl_acc<input type="text" class="form-control" placeholder="..."><br>
		modl_acb<input type="text" class="form-control" placeholder="..."><br>
		cnst<input type="text" class="form-control" placeholder="..."><br>
		hill<input type="text" class="form-control" placeholder="..."><br>
		hcov<input type="text" class="form-control" placeholder="..."><br>
		gnls<input type="text" class="form-control" placeholder="..."><br>
		gcov<input type="text" class="form-control" placeholder="..."><br>
		cnst_er<input type="text" class="form-control" placeholder="..."><br>
		cnst_aic<input type="text" class="form-control" placeholder="..."><br>
		cnst_rmse<input type="text" class="form-control" placeholder="..."><br>
		cnst_prob<input type="text" class="form-control" placeholder="..."><br>
		hill_tp<input type="text" class="form-control" placeholder="..."><br>
		hill_tp_sd<input type="text" class="form-control" placeholder="..."><br>
		hill_ga<input type="text" class="form-control" placeholder="..."><br>
		hill_ga_sd<input type="text" class="form-control" placeholder="..."><br>
		hill_gw<input type="text" class="form-control" placeholder="..."><br>
		hill_gw_sd<input type="text" class="form-control" placeholder="..."><br>
		hill_er	hill_er_sd<input type="text" class="form-control" placeholder="..."><br>
		hill_aic<input type="text" class="form-control" placeholder="..."><br>
		hill_rmse<input type="text" class="form-control" placeholder="..."><br>
		hill_prob<input type="text" class="form-control" placeholder="..."><br>
		gnls_tp<input type="text" class="form-control" placeholder="..."><br>
		gnls_tp_sd<input type="text" class="form-control" placeholder="..."><br>
		gnls_ga<input type="text" class="form-control" placeholder="..."><br>
		gnls_ga_sd<input type="text" class="form-control" placeholder="..."><br>
		gnls_gw<input type="text" class="form-control" placeholder="..."><br>
		gnls_gw_sd<input type="text" class="form-control" placeholder="..."><br>
		gnls_la<input type="text" class="form-control" placeholder="..."><br>	
		gnls_la_sd<input type="text" class="form-control" placeholder="..."><br>
		gnls_lw<input type="text" class="form-control" placeholder="..."><br>
		gnls_lw_sd<input type="text" class="form-control" placeholder="..."><br>
		gnls_er<input type="text" class="form-control" placeholder="..."><br>	
		gnls_er_sd<input type="text" class="form-control" placeholder="..."><br>
		gnls_aic<input type="text" class="form-control" placeholder="..."><br>
		gnls_rmse<input type="text" class="form-control" placeholder="..."><br>
		gnls_prob<input type="text" class="form-control" placeholder="..."><br>

	</form>

</div>
<!-- /.container -->