<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Add Target</h1>
            <ol class="breadcrumb">
                <li><a href="../app/#">Home</a>
                </li>
                <li class="active">AddTarg</li>
            </ol>
        </div>

    </div>

    <form action="../php/add_Targets.php" method="post">
	
		No Entry--Null for that value<br><br>
		Target ID:<input type="text" class="form-control" name="target_id" placeholder="I.D."><br>
		Intended Target:<br>
		Gene ID:<input type="text" class="form-control" name="intended_target_gene_id" placeholder="I.D."><br>
		Entrez Gene ID:<input type="text" class="form-control" name="intended_target_entrez_gene_id" placeholder="I.D."><br>
		Official Full Name:<input type="text" class="form-control" name="intended_target_official_full_name" placeholder="Name..."><br>
		Gene Name:<input type="text" class="form-control" name="intended_target_gene_name" placeholder="Name..."><br>
		Official Symbol:<input type="text" class="form-control" name="intended_target_official_symbol" placeholder="Symbol..."><br>
		Gene Symbol:<input type="text" class="form-control" name="intended_target_gene_symbol" placeholder="Symbol..."><br>
		Description:<input type="text" class="form-control" name="intended_target_description" placeholder="Short description of target"><br>
		Uniprot Accession Number:<input type="text" class="form-control" name="intended_target_uniprot_accession_number" placeholder="I.D."><br>	
		Organism ID:<input type="text" class="form-control" name="intended_target_organism_id" placeholder="I.D."><br>	
		Tracking Status:<input type="text" class="form-control" name="intended_target_track_status" placeholder="Is he dead?"><br><br>
		
		
		Technological Target Data:<br>
		Gene ID:<input type="text" class="form-control" name="technological_target_gene_id" placeholder="I.D."><br>
		Entrez Gene ID:<input type="text" class="form-control" name="technological_target_entrez_gene_id" placeholder="I.D."><br>
		Official Full Name:<input type="text" class="form-control" name="technological_target_official_full_name" placeholder="Name..."><br>
		Gene Name:<input type="text" class="form-control" name="technological_target_gene_name" placeholder="Name..."><br>
		Official Symbol:<input type="text" class="form-control" name="technological_target_official_symbol" placeholder="Symbol.."><br>
		Gene Symbol:<input type="text" class="form-control" name="technological_target_gene_symbol" placeholder="Symbol..."><br>
		Description:<input type="text" class="form-control" name="technological_target_description" placeholder="Description"><br>
		Uniprot Accession Number:<input type="text" class="form-control" name="technological_target_uniprot_accession_number" placeholder="I.D."><br>	
		Organism ID:<input type="text" class="form-control" name="technological_target_organism_id" placeholder="I.D."><br>	
		Tracking Status:<input type="text" class="form-control" name="technological_target_track_status" placeholder="Status of organism"><br><br>

		
		<input type="submit" name="submit" value="Add">
	</form>

</div>
<!-- /.container -->