<div class="section-colored text-center">

    <div class="container">

	<h1>Welcome to ChemFinder!</h1>
	<p>Search an extensive database for chemical, target, toxicity, and experiment data.</p>
    
	<form>
		Name:<input type="text" class="form-control" placeholder="Name..."><br>

		ID#:<input type="text" class="form-control" placeholder="I.D. of item..."><br>
	
		Symbol:<input type="text" class="form-control" placeholder="Symbol or Formula..."><br>
		
		<input type="radio" name="item-type" value="che"> Chemical
		<input type="radio" name="item-type" value="tar"> Target
		<input type="radio" name="item-type" value="tox"> Toxicity
		<input type="radio" name="item-type" value="exp"> Experiment
		<br><br>
		
		<input type="submit" value="Search">
	</form>

    </div>
    <!-- /.container -->

</div>
<!-- /.section-colored -->