<div class="section-colored text-center">

    <div class="container">

	<h1>Welcome to ChemMOA</h1>
	<p>Search an extensive database for chemical, target, toxicity, and experiment data.</p>
    
	<form>
		<input type="text" class="form-control" name="search-item" placeholder="Input search data"><br>
		
		<input type="radio" name="search-val" value="name"> Name
		<input type="radio" name="search-val" value="id"> I.D
		<br><br>
		
		<input type="checkbox" name="type1" value="che"> Chemical
		<input type="checkbox" name="type2" value="tar"> Target
		<input type="checkbox" name="type3" value="tox"> Toxicity
		<input type="checkbox" name="type4" value="exp"> Experiment
		<input type="checkbox" name="type5" value="cit"> Citation
		<br><br>
		
		<input type="submit" value="Search">
	</form>

    </div>
    <!-- /.container -->

</div>
<!-- /.section-colored -->