<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Search Targets</h1>
            <ol class="breadcrumb">
                <li><a href="../app/#">Home</a>
                </li>
                <li class="active">TargetSearch</li>
            </ol>
        </div>

    </div>

	<form action="../php/searchTarg.php" method="post">
		<input type="text" class="form-control" name="search-item" placeholder="Enter search term..."><br>
		
		<select name="search-key" placeholder="Attribute to search">
			<option value="T-Name">Intended Target Name</option>
			<option value="T-ID">Target I.D.</option>
		</select>
		<br><br>
		
		<input type="submit" name="submit" value="Search">
	</form>
</div>
<!-- /.container -->