<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Sign In</h1>
			<p>Don't have an account?
				<a href="../app/#/signUp">Sign Up</a>
			</p>
            <ol class="breadcrumb">
                <li><a href="../app/#">Home</a>
                </li>
                <li class="active">SignIn</li>
            </ol>
        </div>

    </div>

    <div class="row">

        <div class="col-lg-12">
            Username or Email:<input type="text" class="form-control" name="name" placeholder="Name..."><br>
			Password:<input type="password" class="form-control" name="passw" placeholder="Password..."><br>
			<br>
			<input type="submit" name="submit" value="Sign In">
        </div>

    </div>

</div>
<!-- /.container -->