<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Sign Up </h1>
			<p>Already have an account?
				<a href="../app/#/signIn">Sign In</a>
			</p>
            <ol class="breadcrumb">
                <li><a href="../app/#">Home</a>
                </li>
                <li class="active">SignUp</li>
            </ol>
        </div>

    </div>

    <div class="row">

        <div class="col-lg-12">
            <p>Signing up for Chem M.O.A. gives you access to all its features:</p>
			<p>  Add, edit, or analyze many types of data</p>
			
			Username:<input type="text" class="form-control" name="usr_name" placeholder="Name..."><br>
			Full Name:<input type="text" class="form-control" name="full_name" placeholder="..."><br>
			E-mail:<input type="text" class="form-control" name="email" placeholder="email address"><br>
			Password:<input type="password" class="form-control" name="pass" placeholder="Password..."><br>
			Confirm Password:<input type="password" class="form-control" name="pass_2" placeholder="Password..."><br>
			
			<br>
			<input type="submit" name="submit" value="Sign Up">
        </div>

    </div>

</div>
<!-- /.container -->